# composer vendor dir
/vendor

# composer lock file
/composer.lock

# composer itself is not needed
composer.phar

# local phpunit config
/phpunit.xml

# Mac DS_Store Files
.DS_Store

# netbeans project files
nbproject

# phpstorm project files
.idea

# phpunit itself is not needed
phpunit.phar

# phpunit cache
.phpunit.result.cache

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db
